body {
  background-color: YellowGreen;
  font-family:Comic Sans MS; 
}

h1 {
  margin:70px 20px;
  color:Navy;
  font-family: Times New Roman;
  font-family:cursive;
  font-size:28px;
  text-align:center;
  text-decoration:underline ;
}
p {
  color:Indigo;
  font-family:Times New Roman;
  text-align:justify;
  

}

a:link {
  text-decoration: none;color: green;
}
a{ 
color:red; 
} 
.enmarcada{
border:5px none; 
padding:10px; 
margin:5px; 

}
img { 
  float: left; 
}
address{
color:LightGrey;
}