body {

  font-family:Comic Sans MS; 
  background: DarkGreen;
}

h1{
    font-size: 38px;
    text-align:center;
    font-style: italic;
    color: SeaGreen;
    padding: 10px;
    text-shadow: -1px -1px 0px #101010, 1px 1px 0px #505050;
    margin:70px 20px;
}
p {
  color:Grey;
  font-family:Times New Roman;
  text-align:justify;
  font-size: 18px;
  

}

a:link {
  text-decoration: none;color: green;
}
a{ 
color:DarkGoldenrod; 
} 
.enmarcada{
border:5px none; 
padding:10px; 
margin:5px; 

}
img { 
  float: left; 
}
address{
color:LightGrey;
}
fieldset {
border: 2px solid DarkOliveGreen;}